<h1>Todos Page</h1>

{{ todos }}

{{#if todos.length}}

	<ul>
		{{#each todos}}
			<li class="todo">
				<label>
					
					<div class="display_item">
						<form action="/complete" method="POST">
								{{#if completed}}
									<input type="checkbox" checked name="completed">
									<span class="completed">{{this.title}}</span>
								{{else}}
									<input type="checkbox" name="completed">
									<span>{{this.title}}</span>
								{{/if}}

								<input type="hidden" name="id" value="{{this._id}}">
								
								<button type="submit" class="btn btn-small btn_save">Save</button>
						</form>		
					</div>

					<!-- Update -->
					<div class="delete_item">
							<a href="/edit/{{this._id}}" class="btn btn-small">Update</a>
					</div>&nbsp;&nbsp;

					<!-- Delete -->
					<div class="delete_item">
							<a href="/delete/{{this._id}}" type="submit" class="btn btn-small">Delete</a>
					</div>

				</label>
			</li>
		{{/each}}
	</ul>
	
{{else}}
	<p>No todos!</p>
{{/if}}