<h1>Todos Page</h1>

{{ todos }}

{{#if todos.length}}

	<ul>
		{{#each todos}}
			<li class="todo">
				<form action="/complete" method="POST">
					<label>
						{{#if completed}}
							<input type="checkbox" checked name="completed">
							<span class="completed">{{this.title}}</span>
						{{else}}
							<input type="checkbox" name="completed">
							<span>{{this.title}}</span>
						{{/if}}

						<input type="hidden" name="id" value="{{this._id}}">
						
						<button type="submit" class="btn btn-small">Save</button>
					</label>
				</form>			
			</li>
		{{/each}}
	</ul>
	
{{else}}
	<p>No todos!</p>
{{/if}}