<h1>Courses</h1>

<a href="/">Home</a>
<br>
<a href="/course/add">Add record</a>

<h1>{{ bla }}</h1>

<p>{{ data }}</p>

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
	</tr>

	{{#each data}}
	<tr>
		<td>{{this.courseId}}</td>
		<td>{{this.courseName}}</td>
	</tr>
	{{/each}}
</table>

{{#each data}}

	<p>{{ this }}</p>
	{{else}}
	<p>No data</p>

{{/each}}